<div class="container contact-form">
    <div class="contact-image">
        <img src="assets/alarm-on (1).png" alt="Alarm Icon" />

       
    </div>
    <form class="form" [formGroup]="myform" >
        <h1>Envoyer une notification</h1>
        <div class="form-group">
            <label class="form-label" for="form3Example97">Contenu</label>
            <textarea id="form3Example97" class="form-control form-control-lg" formControlName="message"></textarea>
            <div *ngIf="myform.get('message')?.invalid && myform.get('message')?.touched" class="text-danger">
             * Ce champ est obligatoire.
            </div>
            
            
        </div>
    
        <div class="form-outline">
            <label class="form-label" for="form3Example97">Type</label>
            <select class="form-control" formControlName="type">
                <option value="success">Succès</option>
                <option value="information">Information</option>
                <option value="warning">Avertissement</option>
                <option value="danger">Danger</option>
            </select>
        </div>
        
    
        <div>
            <button type="button"  (click)="openMaterialModalup()" class="btn btn-lg ms-2" [disabled]="myform.invalid || showButton" style="background-color: #4e73df; color: #ffffff; margin-top: 20px;">Ajouter des Utilisateurs</button>
        </div>
    </form>

    <div id="materialModalup" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeMaterialModalup()">&times;</span>
            <form >
                <div class="input-group" style="display: flex; border-radius: 0.375rem; margin-bottom: 10px;">
                
                    <input
                        type="text"
                        class="form-control bg-light border-0 small rounded-start"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                        [(ngModel)]="searchQuery"
                        [ngModelOptions]="{ standalone: true }"
                        (input)="updateSearch()"
                        style="flex: 1; margin-right: 5px; ;"
                    />
                    
                    <select class="form-select custom-select" [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }" (change)="updateSearch()">
                        <option value="tous">Tous</option>
                        <option value="formateur">Formateur</option>
                        <option value="apprenant">Apprenant</option>
                    </select>
                    
                </div>
            </form>

            <div class="table-responsive" style="margin-bottom: 0;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" (change)="checkAllUsers($event)">
                            </th>
                            <th>ID</th>
                            <th>username</th>
                            <th>email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filteredUsers">
                            <td>
                                <input type="checkbox" [(ngModel)]="user.checked"
                                    (change)="addToTable(user.id, user.checked)"
                                    >
                            </td>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-lg rounded-end" style="background-color: #4e73df; color: #ffffff; "  (click)="sendNoti()">Envoyer</button>
        </div>
    </div>
</div>
