<div id="modal" class="container contact-form">
    <span class="close" (click)="closeassModal()">&times;</span>
    <form [formGroup]="myform">
       
        <h1>Rappel</h1>
        <div class="form-group">
            <label class="form-label" for="form3Example97">Description</label>
            <textarea id="form3Example97" class="form-control form-control-lg" formControlName="message"></textarea>
        </div>

        <div class="form-group">
            <label class="form-label" for="form3Example97">Titre</label>
            <textarea id="form3Example97" class="form-control form-control-lg" formControlName="title"></textarea>
        </div>

        <div class="form-group">
            <label class="form-label" for="form3Example97"> Planifier l’envoi</label>
            <input  type="datetime-local" id="form3Example97" class="form-control form-control-lg" formControlName="datetimelocal">
        </div>

        <div class="form-outline">
            <label class="form-label" for="form3Example97">Type</label>
            <select class="form-control" formControlName="type">
                <option value="success">Success</option>
                <option value="information">Information</option>
                <option value="warning">Warning</option>
                <option value="danger">Danger</option>
            </select>
        </div>

        <div>
            <button (click)="sendNoti()"
                class="btn btn-lg ms-2" style="background-color: #4e73df; color: #ffffff; margin-top: 20px;">Ajouter</button>
        </div>
    </form> 
</div>







