<div class="container contact-form">
  <!-- Information Icon -->
  
    <!-- Assuming .add-icon button is placed here -->
    <button *ngIf="user.is_staff===true && user.is_superuser===false"  class="add-icon" type="button" style="border-style: none;background-color: white;"  [routerLink]="['/dashboard/quizC']" [queryParams]="{ quizID: quizID, lessonId: lessonID, courseId: courseID }">
      <i *ngIf="update === false" class="fas fa-plus fa ic"></i> 
    </button>
 
    <!-- Other content... -->
  
    <!-- Info icon and popup -->
    <div class="info-icon">
      <i class="fas fa-info-circle fa-2x ic" (mouseover)="showInfo = true" (mouseleave)="showInfo = false"></i>
      <div class="info-popup" *ngIf="showInfo">
        <h5 style="margin-right: 100px;">Information</h5>
        <div class="lesson" >
           
               <p ><strong><i class="fas fa-plus fa-xs"></i> Description:</strong><br>{{ quizData.description }}</p>
                <p ><strong><i class="fas fa-plus fa-xs"></i> Minimum pour passer:</strong> {{ quizData.pass_mark }}</p>
                <p ><strong><i class="fas fa-plus fa-xs"></i> Nombre des questions:</strong>{{ quizData.questions.length }}</p>
          
        </div>
      </div>
  </div>
  

  <!-- Quiz Body -->
  <div class="quiz-container">
      <!-- Quiz Title -->
      <h1>{{ quizData.title }}</h1>

      <!-- Back Button -->
      <button class="buton" style="margin-top: 5px;" *ngIf="update === false" (click)="backC()"><i class="fas fa-arrow-left"></i></button>
      <button class="buton" *ngIf="update === true" (click)="back()"><i class="fas fa-arrow-left"></i></button>

      <!-- Quiz Information -->
     

      <!-- Quiz Questions -->
      <div class="quiz-body">
          <h2 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Question et Réponses :</h2>
          <textarea style="width: 90%; margin-bottom: 20px;" type="text" [(ngModel)]="questionContent"
              [value]="quizData.questions[currentQuestionIndex].content" class="form-control"></textarea>
          <div *ngFor="let choice of quizData.questions[currentQuestionIndex].choices; let i = index"
              class="d-flex mb-3 align-items-center">
              <input *ngIf="user.is_staff===true && user.is_superuser===false"  type="checkbox" style="width: 20px; height: 20px; margin-right: 10px;"
                  class="me-3 mt-2 align-self-start" [(ngModel)]="choice.correct" [checked]="choice.correct">
              <div class="form-outline flex-grow-1">
                  <input [(ngModel)]="choice.choice" [value]="choice.choice" style="width:70%; height: auto;"
                      class="form-control" type="text" [ngClass]="{'correct-answer': choice.correct}">
              </div>
          </div>
          <div id="result"></div>
      </div>

      <!-- Quiz Navigation Buttons -->
      <div class="quiz-foot">
          <div *ngIf="user.is_staff===true && user.is_superuser===false"  class="button-container">
              <button type="button" class="button back-button" (click)="onPrevClick()"><i
                      class="fas fa-arrow-left"></i></button>
              <button  type="button" class="button" (click)="updateQC(quizData.questions[currentQuestionIndex].id)">
                  Sauvegarder
              </button>
              <button type="button" class="button"
                  (click)="deleteQ(quizData.questions[currentQuestionIndex].id)">Supprimer</button>
              <button type="button" class="button next-button" (click)="onNextClick()"><i
                      class="fas fa-arrow-right"></i></button>
          </div>
          <div *ngIf=" user.is_superuser"  class="button-container" style="margin-left: 10%;">
            <button type="button" class="button back-button" (click)="onPrevClick()"><i
                    class="fas fa-arrow-left"></i></button>
  
            <button type="button" class="button next-button" (click)="onNextClick()"><i
                    class="fas fa-arrow-right"></i></button>
        </div>
      </div>
  </div>


</div>
