<body>

    <div class="container">
    
    
       
        <main>
            <header>
                <button class="menu-btn" id="menu-open">
                    <i class='bx bx-menu'></i>
                </button>
                <h5>Bienvebue <b>{{signeduser.username}}</b>!</h5>

            </header>

            <div class="separator">
                <div class="info">
                    <h3>Mes Cours</h3>
                   
                </div>
             
            </div>

            <div class="analytics">
                
                    <div class="item" *ngFor="let foura of four; let i = index;">
                        <div class="progress">
                            <div class="info">
                                <h5>{{ foura.title }}</h5>
                            </div>
                            <div class="info">
                                <h5>{{ foura.pourcentage }}%</h5>
                            </div>
                        </div>
                        <img [src]="foura.image" class='little'>
                    </div>
            </div>

            <div class="separator">
                <div class="info">
                    <h3>Rappels</h3>
                  
                </div>
                <input type="date" id="dateInput" [value]="formattedDate">
            </div>

            <div class="planning" >
                <div  (click)="openDialog3()" class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            
                        </span>
                        <h3>Ajouter rappel</h3>
                    </div>
                </div>
                <div *ngFor="let reminder of reminders">


                
                <div class="item">
                    <div class="left">
                        <div class="icon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANNJREFUSEvlleENgkAMhR+TKJvoJjqJMAluIqO4id4zNuldOLEtl5jYn4S8j77Xlg6Nq2usDw04AJgA7IPQO4AzgJk6GnBLDwnZogjpS8DjrRy1LdPRYj8FOKW8dsniccHPTTq4JOEBwFHCVKAQgF/OSXsFCIBhluUGiDgFOYbXyri5AN+Kk2kGWMRdAAn0ky3aLXMH1s3+EwAvKufde/x4SbmE2TUV7xgmxb1VPdcCEGEuEmGhWrqma5tqApaArD2TUuVlDaDvYUtKTvTvtdpkc8ATncM5GR5fvQIAAAAASUVORK5CYII="/>
                        </div>
                        <div class="details">
                            <h5>{{reminder.title}}</h5>
                            <p> {{reminder.timestamp | date: 'medium'}}</p>
                        </div>
                    </div>
                    <img (click)="deleteReminder(reminder.id)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKVJREFUSEvtlcsRgDAIRDedaCdaipVYiqVoKXaiMmNyIIObj7klN0V4C0xch8bHNa4PBpgAbAAGQ8gJYAFwWEIZYH+SBfJ1BDKWAq430RLC4nRErACLRwCfULv70LFuvTnAK6etqxbN74uX9zdAK2TPgZ/aAStYPaIOiO5V7kj6DuivqXpEjJANSDEaDRVXm/VL6yaLi60JbubrmdbJLJONhsabA25OJTgZ1vxrLQAAAABJRU5ErkJggg=="/>              </div>
            </div>
                <!-- <div class="item">
                    <div class="left">
                        <div class="icon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANNJREFUSEvlleENgkAMhR+TKJvoJjqJMAluIqO4id4zNuldOLEtl5jYn4S8j77Xlg6Nq2usDw04AJgA7IPQO4AzgJk6GnBLDwnZogjpS8DjrRy1LdPRYj8FOKW8dsniccHPTTq4JOEBwFHCVKAQgF/OSXsFCIBhluUGiDgFOYbXyri5AN+Kk2kGWMRdAAn0ky3aLXMH1s3+EwAvKufde/x4SbmE2TUV7xgmxb1VPdcCEGEuEmGhWrqma5tqApaArD2TUuVlDaDvYUtKTvTvtdpkc8ATncM5GR5fvQIAAAAASUVORK5CYII="/>
                        </div>
                        <div class="details">
                            <h5>Writing - Topic 2</h5>
                            <p>13:00 - 14:00</p>
                        </div>
                    </div>
                    <img  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKVJREFUSEvtlcsRgDAIRDedaCdaipVYiqVoKXaiMmNyIIObj7klN0V4C0xch8bHNa4PBpgAbAAGQ8gJYAFwWEIZYH+SBfJ1BDKWAq430RLC4nRErACLRwCfULv70LFuvTnAK6etqxbN74uX9zdAK2TPgZ/aAStYPaIOiO5V7kj6DuivqXpEjJANSDEaDRVXm/VL6yaLi60JbubrmdbJLJONhsabA25OJTgZ1vxrLQAAAABJRU5ErkJggg=="/>                    
                </div> -->
            
              
            </div>

        </main>

        <aside class="right-section">


            <div class="separator" id="first">
                <h4>Statistiques</h4>
            </div>

            <div class="stats">
                <div class="item">
                    <div class="top">
                        <p>Cours </p>
                        <p>Terminés</p>
                    </div>
                    <div class="bottom">
                        <div class="line"></div>
                        <h3>{{ CoursesCompleted() }}</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <p>Quiz </p>
                        <p>Réussis</p>
                    </div>
                    <div class="bottom">
                        <div class="line"></div>
                        <h3>{{pq.quiz_passed_counts}}</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <p>Formation</p>
                        <p>en cours</p>
                    </div>
                    <div class="bottom">
                        <div class="line"></div>
                        <h3>{{CoursesInProgress()}}</h3>
                    </div>
                </div>
           
            </div>

          

        </aside>

       
    </div>

    
</body>







