 <!-- <div class="container" *ngIf="currentQuestion">
  <div>
    <label>Part {{ currentPartIndex + 1 }} Question {{ currentQuestionIndex + 1 }}</label>
    <input type="text" [value]="currentQuestion?.question" class="form-control">
    <div *ngFor="let answer of currentQuestion?.answers; let answerIndex = index">
      <input class="form-control" 
        type="text" 
        [value]="answer.text" 
        [ngClass]="{'correct-answer': answer.correct}">
    </div>
  </div>
</div>

<div class="d-flex justify-content-between pt-3">
  <button type="button" class="btn btn-warning btn-lg" (click)="back()">Back</button>
  <button type="button" class="btn btn-warning btn-lg" (click)="addAIQuiz(currentQuestion)">Ajouter</button>
  <button type="button" class="btn btn-warning btn-lg ms-2" (click)="next()" [disabled]="disableNextButton">Next</button>
</div>




<div class="d-flex justify-content-end pt-3">
  <button type="button" class="btn btn-light btn-lg">Reset all</button>
  <button type="submit" class="btn btn-warning btn-lg ms-2" (click)="GenQuiz(driveId)">Generate a quiz about this document </button>
  <button type="submit" class="btn btn-warning btn-lg ms-2" (click)="next()">Next</button>
</div>  -->






<div class="container contact-form">
   
  <form [formGroup]="myform" (ngSubmit)="addQ()">
    <button class="buton" (click)="backC()"><i class="fas fa-arrow-left"></i></button>
      <h1>Ajouter une question</h1>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label class="form-label" for="form3Example97">Question</label>
                  <textarea type="text" style="width: 500px;" id="form3Example97" class="form-control form-control-lg" formControlName="content" > </textarea>                  
              </div>            
              <label class="form-label" for="form3Example97">Choix</label>
              <div class="d-flex mb-3 align-items-center">
                <input type="checkbox" style="width: 20px; height: 20px; margin-right: 10px;" class="me-3 mt-2 align-self-start"  [checked]="choix[0].checked" (change)="choix[0].checked = !choix[0].checked" /> 
                <div class="form-outline flex-grow-1">
                  <input type="text" id="form3Example97" class="form-control form-control-md" formControlName="choice0" />
                </div>
              </div>
              <div class="d-flex mb-3 align-items-center">
                <input type="checkbox" style="width: 20px; height: 20px; margin-right: 10px;" class="me-3 mt-2 align-self-start"   [checked]="choix[1].checked" (change)="choix[1].checked = !choix[1].checked" /> 
                <div class="form-outline flex-grow-1">
                  <input type="text" id="form3Example97" class="form-control form-control-md" formControlName="choice1" />
                </div>
              </div>
              <div class="d-flex mb-3 align-items-center">
                <input type="checkbox" style="width: 20px; height: 20px; margin-right: 10px;" class="me-3 mt-2 align-self-start" [checked]="choix[2].checked" (change)="choix[2].checked = !choix[2].checked" />
                <div class="form-outline flex-grow-1">
                  <input type="text" id="form3Example97" class="form-control form-control-md" formControlName="choice2" />
                </div>
              </div>
              <div class="d-flex mb-3 align-items-center">
                <input type="checkbox" style="width: 20px; height: 20px; margin-right: 10px;" class="me-3 mt-2 align-self-start"   [checked]="choix[3].checked" (change)="choix[3].checked = !choix[3].checked" />
                <div class="form-outline flex-grow-1">
                  <input type="text" id="form3Example97" class="form-control form-control-md" formControlName="choice3" />
                </div>
              </div>            
              <div class="d-flex justify-content-center pt-2"> 
              <div class="form-group" class="d-flex mb-3 align-items-center">                  
                  <button type="submit"   class="button">Ajouter</button>
                  
                  <div style="position: relative;">
                    <button style="margin-left: 50px; margin-bottom: 15px;" type="button" (click)="getmaterials(); openMaterialModallesson()" class="ai-assistant"></button>
                 
                    <div *ngIf="showMessage" style="margin-left: 15px;position: absolute; top: 50%; left: calc(100% + 10px); transform: translateY(-50%); background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px; color: #4e73df; white-space: nowrap; z-index: 999; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">
                      <div >o9ros alayaa</div>
                    </div>
                  </div>
                  
                  
                  
                  
              </div>
              </div>
          </div>
          <div id="materialModal" class="modal">
            <div class="modal-content">
              <span class="close" (click)="closeMaterialModal()">&times;</span>
              <h4 *ngIf="!loading && !generated_data" style="text-align: center; color: #4e73df;">choisire un Document </h4>          
              <div *ngFor="let mat of materials">
                <div  *ngIf="(mat.document_type==='pdf'||mat.document_type==='docx'||mat.document_type==='pptx') && driveId ===null" >
                  <a (click)="handleClick(mat.content)">
                    <mat-icon class="icon">{{ getMaterialIcon(mat.document_type) }}</mat-icon>
                    <span class="material-title">{{ mat.title }}</span>
                </a>
   
              </div>
             
            </div>
            <ng-container *ngIf="loading==true">
              <app-loading-spinner></app-loading-spinner>
            </ng-container>
            <div class="container" *ngIf="generated_data && generated_data.length">
              <div>
                <label>Question {{ currentQuestionIndex + 1 }}</label>
                <textarea style="width: 600px;" type="text" [value]="currentQuestion?.question" class="form-control"></textarea>
                <div *ngFor="let answer of currentQuestion?.answers; let answerIndex = index">
                  <input style="margin-top: 10px; margin-bottom: 10px;width: 450px;height: auto;" class="form-control" 
                    type="text"                    
                    [value]="answer.text" 
                    [ngClass]="{'correct-answer': answer.correct}">
                </div>
              </div>
              
            </div>
            <div  *ngIf="generated_data && generated_data.length > 0" class="d-flex justify-content-between pt-3">
              <button type="button" class="button" (click)="back()">Back</button>
              <button type="button" class="button" (click)="addAIQuiz(currentQuestion)">Ajouter</button>
              <button type="button" class="button" (click)="next()" [disabled]="disableNextButton">Next</button>
            </div>
          </div>
          </div>
         
      </div>
  </form>
</div>
