
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="button-container">
  <a (click)="toggleSection('information')" [class.active]="showInformation" class="custom-link">Information</a>
  <a  *ngIf="(user.is_active===true && user.is_staff===true )|| user.is_superuse"  (click)="toggleSection('content')" [class.active]="showContent" class="custom-link">Contenu</a>
</div>




<div *ngIf="showInformation">
  <main>
    <h2 style="text-align: center;" >Information</h2>
    <div class="lesson">
    <p>
  <span style="font-weight: bold; color: #333;">Titre :</span>
  {{ getCourseTitleById(CourseId) }}<br>
  <span style="font-weight: bold; color: #333;">Description :</span>
  {{ getCourseDescriptionById(CourseId) }}
</p>


    </div>
    <div class="lesson">
      <p style="font-weight: bold; color: #333;">Contenu :</p>
      <div class="lesson-header-container">
     
        <div  class="lesson-header" *ngFor="let lesson of lessons; let i = index" [attr.id]="'lesson-' + lesson.id">
          <p class="lesson-number"><span>{{ i + 1 }}</span></p>
          <h1 class="lesson-title">{{ lesson.title }}</h1>
        </div>
      </div>
    </div>
    
  </main>

</div>

<main id="course-content" *ngIf="showContent">
  <h2 style="text-align: center;">Contenu</h2>


    <!-- The Material Type Modal -->
    <div id="materialModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeMaterialModal()">&times;</span>
            <h4 *ngIf="update==false && eval==false" style="text-align: center; color: #4e73df;">Ajouter un support</h4>
            <h4 *ngIf="update==true" style="text-align: center; color: #4e73df;">Mettre à jour le support</h4>
            <h4 *ngIf="eval==true" style="text-align: center; color: #4e73df;">Ajouter une evaluation</h4>
            <form (ngSubmit)="update ? UpdateMaterial(selectedmatId): AddMaterial(selectedLessonId)" #myForm="ngForm">
              
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" [(ngModel)]="myform.value['title']" required #Input="ngModel">
                <div *ngIf="(Input.invalid) && (Input.dirty || Input.touched )" class="error-message">
                  Le titre est requis.
                </div>
            
                <label for="document_type">Document Type:</label>
                <mat-select [(ngModel)]="myform.value['document_type']" id="document_type" name="document_type" class="form-control" required color="blue" #Input="ngModel">
                  <mat-option disabled selected>Select Document Type</mat-option>
                  <div *ngIf="eval===false">
                  <mat-option value="pdf">
                    <mat-icon class="icon">picture_as_pdf</mat-icon> PDF
                  </mat-option>
                  <mat-option value="docx">
                    <mat-icon class="icon">description</mat-icon> Docx
                  </mat-option>
                  <mat-option value="pptx">
                    <mat-icon class="icon">slideshow</mat-icon> Présentation (PPTX)
                </mat-option>
                  <mat-option value="youtube">
                    <mat-icon class="icon">video_library</mat-icon>YouTube
                  </mat-option>
                  <mat-option value="video">
                    <mat-icon class="icon">video_library</mat-icon>Video
                  </mat-option>
                </div>
                  <!-- <div *ngIf="eval===true">
                  <mat-option value="quiz" >
                    <mat-icon class="icon">live_help</mat-icon> Quiz
                  </mat-option>
                  <mat-option value="exercise">
                    <mat-icon class="icon">fitness_center</mat-icon> Exercise
                  </mat-option>
                </div> -->
                  <!-- Add more options with corresponding icons as needed -->
                </mat-select>
              
                <div *ngIf="Input.invalid && (Input.dirty || Input.touched)" class="error-message">
                  Le type de document est obligatoire.
                </div>
            
                <div *ngIf="myform.value['document_type'] === 'youtube'">
                  <label for="youtube_url">YouTube URL:</label>
                  <input  type="text" id="youtube_url" name="youtube_url" class="form-control" [(ngModel)]="uploadedLink" required #youtubeUrl="ngModel" />
                  <div *ngIf="youtubeUrl.invalid && (youtubeUrl.dirty || youtubeUrl.touched)" class="error-message">
                    L’URL YouTube est requise.
                  </div>
                  
                </div>
                <div *ngIf="myform.value['document_type'] === 'video'">
                  <label for="youtube_url">Lien de drive pour votre vidéo avec un accés public :</label>
                  <input  type="text" id="youtube_url" name="youtube_url" class="form-control" [(ngModel)]="uploadedLink" required #youtubeUrl="ngModel" />
                  <div *ngIf="youtubeUrl.invalid && (youtubeUrl.dirty || youtubeUrl.touched)" class="error-message">
                    L’URL drive est requise.
                  </div>
                
                </div>
            
                <div *ngIf="['pdf','docx'].includes(myform.value['document_type'])">
                  <label for="file">Fichier</label>
                  <input type="file" id="file" name="content" (change)="onFileSelected($event)" [(ngModel)]="selectedFile" required #Input="ngModel" />
                  <div *ngIf="Input.invalid && (Input.dirty || Input.touched)" class="error-message">
                    Le fichier est requis.
                  </div>
                </div>
                <div *ngIf="myform.value['document_type'] === 'pptx'">>
                  <label for="file">Fichier</label>
                  <input type="file" id="file" name="content" (change)="onFileSelected($event)" [(ngModel)]="selectedFile" required #Input="ngModel" />
                  <div *ngIf="Input.invalid && (Input.dirty || Input.touched)" class="error-message">
                    Le fichier est requis.
                  </div>
                </div>
            
                <div *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </div>
                      <!-- your-file.html -->

                <button *ngIf="!update" type="submit">Ajouter un support</button>
  <button *ngIf=" update" type="submit">Mettre à jour le support</button>
              </div>
            </form>
            
        </div>
    </div>
    

 <!-- Your Lessons Iteration -->
 <div *ngFor="let lesson of lessons; let i = index" class="lesson" [attr.id]="'lesson-' + lesson.id">
  <button *ngIf="user.is_staff===true && user.is_superuser===false"  class="add-material-button" (click)="openMaterialModal(lesson?.id, 0, false,false)">
    <i class="fas fa-plus"></i>Ajouter un support
  </button>
  <button *ngIf="user.is_staff===true && user.is_superuser===false"  class="add-material-button" style="margin-left: 50%;" (click)="checkEval(lesson.id)" (click)="openMaterialModaleval(lesson?.id)">
    <i class="fas fa-plus"></i> Ajouter une evaluation
  </button>
  <div id="materialModaleval" class="modal">
    <div class="modal-content">  
      <span class="close" (click)="closeMaterialModal()">&times;</span>
      <h4 style="text-align: center; color: #4e73df;">Choisir</h4>
      
      <div class="link-container">
        <a *ngIf="eval===false" 
           [routerLink]="['/dashboard/quiz']" 
           [queryParams]="{ courseId: CourseId, lessonId: selectedLessonId}"
           class="link-square">
          <h5>Quiz</h5>
          <img src="assets/choice.png" alt="Quiz Image">
        </a>
        <a *ngIf="eval===true" class="link-square">
          <h5>Quiz</h5>
          <img src="assets/choice.png" alt="Quiz Image">
          <p>(existent déjà)</p>
        </a>
        <a *ngIf="eval_ex===false" [routerLink]="['/dashboard/assignment']" 
           [queryParams]="{ courseId: CourseId, lessonId: selectedLessonId }" 
           class="link-square">
          <h5>Exercice</h5>
          <img src="assets/exam.png" alt="Exercise Image">
        </a>
        <a *ngIf="eval_ex===true" class="link-square">
          <h5>Exercice</h5>
          <img src="assets/exam.png" alt="Quiz Image">
          <p>(existent déjà)</p>
        </a>
      </div>
    </div>
  </div>
  
  <button *ngIf="user.is_staff===true && user.is_superuser===false"  (click)="delete_lesson(lesson.id)" class="delete-button">
    <i class="fas fa-trash-alt"></i> Supprimer
  </button>
<!-- Hide the checkbox input -->
<input *ngIf="user.is_staff===true && user.is_superuser===false"  type="checkbox" class="hahaha delete-button1" id="verificationCheckbox{{lesson.id}}" [(ngModel)]="lesson.locked" (change)="lockUnlock(lesson.id)" style="display: none;">

<!-- Wrap the icon inside a label and associate it with the corresponding hidden checkbox -->
<label   class="lock-button" for="verificationCheckbox{{lesson.id}}">
  <span *ngIf="lesson.locked; else unlockedIcon" >
    <!-- Display closed lock icon when checkbox is checked -->
    <i class="fas fa-lock" style="cursor: pointer;"></i> <!-- Assuming you're using Font Awesome -->
  </span>
  <ng-template #unlockedIcon >
    <!-- Display open lock icon when checkbox is not checked -->
    <i class="fas fa-lock-open" style="cursor: pointer;color: grey;"></i> <!-- Assuming you're using Font Awesome -->
  </ng-template>
</label>


  
  
  
  
  <!-- <button (click)="unlockNext(lesson.id)" class="material-action">
    qsdqdqdqdqdsqdqdqd
   </button> -->

  <div class="lesson-content">
    <div class="lesson-header">
      <p class="lesson-number"><span>{{ i + 1 }}</span></p>
      <h1 class="lesson-title">
        <span *ngIf="!lesson.isEditing" (click)="enableLessonEdit(lesson)">{{ lesson.title }}</span>
        <input *ngIf="lesson.isEditing" type="text" [(ngModel)]="lesson.newTitle" (keyup.enter)="updateLessonTitle(lesson)" >
        <button type="button" *ngIf="lesson.isEditing" (click)="updateLessonTitle(lesson)">Sauvgarder</button>
      </h1>
      <button class="button-link" (click)="toggleMaterials(lesson)">
  <i class="fas fa-chevron-down"></i>
</button>
    </div>
    <div id="yourListItemId" class="your-list-item">
      <!-- Material content -->
    

 
     
        <div *ngIf="lesson.showMaterials" class="materials-container">
            <div *ngFor="let mat of lesson.mateials" class="material-item" (mouseenter)="onMouseEnter(mat.id)" (mouseleave)="onMouseLeave()">

                  <mat-icon class="icon">{{ getMaterialIcon(mat.document_type) }}</mat-icon> 
                   <span class="material-title">{{ mat.title }}</span>
              
              <div class="material-actions" *ngIf="hoveredItemId === mat.id">
              
                <button (click)="openMaterialModalpreview(mat)" class="material-action">
                  <i class="fas fa-eye"></i> <!-- Font Awesome eye icon -->
                </button>

                <div id="materialModalpreview" class="modal"  >
                  <div class="modal-content">
                    <span class="close" (click)="closeMaterialModal()">&times;</span>
                    <h4  style="text-align: center; color: #4e73df;"> Support</h4>
                    <form >

                      <ngx-doc-viewer
                      [url]="mat.content"
                      viewer="url"
                      style="width:100%;height:500px;"
                    >
                    </ngx-doc-viewer> 
                  
                  
                    
                    </form>  
                    
                  </div>
                </div>
                
                <button *ngIf="user.is_staff===true && user.is_superuser===false"  (click)="openMaterialModal(lesson.id, mat, true,false)" class="material-action">
                  <i class="fas fa-edit"></i> <!-- Font Awesome edit icon -->
                </button>



<button *ngIf="user.is_staff===true && user.is_superuser===false"  (click)="delete_mat(mat.id)" class="material-action">
  <i class="fas fa-trash-alt"></i> <!-- Font Awesome trash icon -->
</button>
              </div>
            </div>
           <p style="margin-left: -30px; font: bold;">Evaluation :</p>
            <div *ngFor="let quiz of quizes"  (mouseenter)="onMouseEnter(quiz.id)" (mouseleave)="onMouseLeave()"  >
              <div *ngIf="quiz.lesson===lesson.id" class="material-item">
            <mat-icon class="icon">live_help</mat-icon> 
            <span class="material-title">{{quiz.title}}</span>
            <div class="material-actions" *ngIf="hoveredItemId === quiz.id">
            <button  [routerLink]="['/dashboard/quizD']" [queryParams]="{ quizID : quiz.id, lessonID : lesson.id, CourseId:CourseId }" class="material-action">
              <i class="fas fa-eye"></i> <!-- Font Awesome eye icon -->
            </button>
            <button *ngIf="user.is_staff===true && user.is_superuser===false"  (click)="delete_quiz(quiz.id)" class="material-action">
              <i class="fas fa-trash-alt"></i> 
            </button>
          </div>
        </div>
          </div>
          <div *ngFor="let sub of assignments" (mouseenter)="onMouseEnter(sub.id)" (mouseleave)="onMouseLeave()">
          <div *ngIf="sub.lesson===lesson.id" class="material-item" >
          <mat-icon class="icon" >fitness_center</mat-icon> 
          <span class="material-title">{{sub.title}}</span>
          <div class="material-actions" *ngIf="hoveredItemId === sub.id">
          <button class="material-action"  (click)="openAssignmentModal(sub.id,sub)">
            <i class="fas fa-eye"></i> <!-- Font Awesome eye icon -->
          </button>
                  
         
          <button *ngIf="user.is_staff===true && user.is_superuser===false"  (click)="delete_assig(sub.id)" class="material-action">
            <i class="fas fa-trash-alt"></i> 
          </button>
          </div>
          <div id="assModal" class="modal">
            <div class="modal-content">
              <span class="close" (click)="closeassModal()">&times;</span>
          
            <div class="assignment">
              
              <div class="assignment-title"><strong>Titre : </strong>{{sub.title}}</div>
              <div class="description"><strong>Travail A Faire :</strong> {{sub.description}}</div>
              <div class="due-date"><strong>Date de Soumission : </strong> {{sub.due_date}}</div>

              <div class="actions">
                
                <button *ngIf="user.is_staff===true && user.is_superuser===false"  class="material-action" style="margin-top: 20px ;" >
                  <i class="fas fa-edit"></i> <!-- Font Awesome edit icon -->
                </button>         
               
          
              </div>
            </div>
          
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          
          
          
          
        
        <hr *ngIf="user.is_staff===true && user.is_superuser===false" >
    </div>
</div>



        
       
<div id="materialModallesson" class="modal">
  <div class="modal-content">
    
    <span class="close" (click)="closeMaterialModal()">&times;</span>
    <h4  style="text-align: center; color: #4e73df;">Ajouter une Leçon</h4>
    <form #materialForm="ngForm" (ngSubmit)="addLesson()">
      <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="newLessonTitle" required #Input="ngModel">
      <div *ngIf="(Input.invalid) && (Input.dirty || Input.touched)" class="error-message">
        Title is required.
      </div>
      <button *ngIf="newLessonTitle!=''" type="submit">Ajouter</button>
    </div>
    </form>
  </div>
</div>

<div class="button-container" *ngIf="user.is_staff===true && user.is_superuser===false" >
  <button class="button_plus" (click)="openMaterialModallesson()"></button>
  <a class="add-section" (click)="openMaterialModallesson()">Ajouter une Leçon</a>
</div>

</main>
