<div class="container mt-5">
    <div class="main-body">
        <div class="row mb-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 style="font-size: 2.5em; margin-bottom: 20px;">Bienvenue, {{ user.username }}! </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="profile-image-container">
                            <img [src]="user.image" class="rounded d-block" alt="User Image">
                        </div>
                    </div>

                    <div class="card-body pt-0 pt-md-4">
                        <div class="text-center">
                            <p class="text-secondary mb-1" style="font-size: 1.2em; ">Dernière connexion : {{ user.last_login | date: 'medium' }} </p>
                            <br>
                            <div *ngIf="user.is_superuser == true">
                                <i class="ni education_hat mr-2"></i>Administrateur 
                            </div>
                            <div *ngIf="user.is_active == true && !user.is_superuser && !user.is_staff">
                                <i class="ni education_hat mr-2"></i>Apprenant 
                            </div>
                            <div *ngIf="user.is_staff === true && user.is_active === true && !user.is_superuser">
                                <i class="ni education_hat mr-2"></i>Formateur 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <!-- Form for displaying user profile when not in edit mode -->
                        <form *ngIf="!editMode" [formGroup]="myform">
                            <h6 class="heading-small text-muted mb-4" style="font-size: 1.3em;">Information de l'utilisateur </h6>
                            <div class="pl-lg-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-username">Username :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-username" class="form-control form-control-alternative"
                                            placeholder="Username" formControlName="Username" [value]="user.username" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-email">Email :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="email" id="input-email" class="form-control form-control-alternative"
                                            formControlName="email" [value]="user.email" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-first-name">First name :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                                            formControlName="first_name" [value]="user.first_name" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-last-name">Last name :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-last-name" class="form-control form-control-alternative"
                                            formControlName="last_name" [value]="user.last_name" readonly>
                                    </div>
                                </div>
                            </div>
                            
                        </form>

                        <!-- Form for displaying user profile for editing when in edit mode -->
                        <button class="btn btn-sm btn-info mr-4" *ngIf="editMode === false" (click)="toggleEditMode()">Modifier le profil</button>
                        <form *ngIf="editMode" [formGroup]="myform" (ngSubmit)="updateUserProfile()">
                            <h6 class="heading-small text-muted mb-4" style="font-size: 1.3em;">Modifier l'information de l'utilisateur </h6>
                            <div class="pl-lg-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-username">Username :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-username" class="form-control form-control-alternative"
                                            placeholder="Username" formControlName="Username" [value]="user.username" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label">Email :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="email" id="input-email" class="form-control form-control-alternative"
                                            formControlName="email" [value]="user.email" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label">First name :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                                            formControlName="first_name" [value]="user.first_name" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" >Last name :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-last-name" class="form-control form-control-alternative"
                                            formControlName="last_name" [value]="user.last_name" required>
                                    </div>
                                </div>
                            </div>
                            
                            <hr class="my-4">
                            <!-- Photo input (displayed only in edit mode) -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formFile" style="font-size: 1.2em; font-weight: bold;">Photo de profil :</label>
                                <input type="file" id="formFile" (change)="onFileChange($event)" class="form-control">
                            </div>
                           
                            <input type="submit" href="#" class="btn btn-sm btn-info mr-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
