/* Add this style to your CSS or styles */
.profile-image-container {
    width: 200px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    border: 5px solid #4e73df; /* Set the border style, color, and width */
    border-radius: 50%; /* Make it a circle by setting border-radius to half of the width/height */
    overflow: hidden; /* Hide the overflow to maintain the circular shape */
    margin: 0 auto; /* Center the container */
}

.profile-image-container img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
}
.custom-label {
    font-size: 1.2em;
    font-weight: bold;
}
