<div class="container mt-5">
    <div class="main-body">
        <div class="row mb-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 style="font-size: 2.5em; margin-bottom: 20px;">Bienvenue, {{ user.username }}! </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="profile-image-container">
                            <img *ngIf="user.image!=null" [src]="user.image" class="rounded-circle">
                            <img *ngIf="user.image==null"  src="assets/def.png" class="rounded-circle">
                        </div>
                    </div>

                    <div class="card-body pt-0 pt-md-4">
                        <div class="text-center">
                            <p class="text-secondary mb-1" style="font-size: 1.2em; ">Dernière connexion : {{ user.last_login | date: 'medium' }} </p>
                            <br>
                            <div *ngIf="user.is_superuser == true">
                               <strong> <i class="ni education_hat mr-2"></i>Administrateur </strong>
                            </div>
                            <div *ngIf="user.is_active == true && !user.is_superuser && !user.is_staff">
                               <strong><i class="ni education_hat mr-2"></i>Apprenant </strong> 
                            </div>
                            <div *ngIf="user.is_staff === true && user.is_active === true && !user.is_superuser">
                            <strong>  <i class="ni education_hat mr-2"></i>Formateur </strong> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                     
                        <form *ngIf="!editMode && !modpww" [formGroup]="myform">
                            <h6 class="heading-small text-muted mb-4" style="font-size: 1.3em;">Information de l'utilisateur </h6>
                            <div class="pl-lg-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-username">Nom d'utilisateur:</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-username" class="form-control form-control-alternative"
                                            placeholder="Nom d'utilisateur" formControlName="Username" [value]="user.username" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-email">E-mail :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="email" id="input-email" class="form-control form-control-alternative"
                                            formControlName="email" [value]="user.email" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-first-name">Nom Complet :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                                            formControlName="full_name" [value]="user.full_name" readonly>
                                    </div>
                                </div>                          
                            </div>
                            
                        </form>

                        <!-- Form for displaying user profile for editing when in edit mode -->
                        <button class="btn btn-sm mr-4"  style="background-color: #4e73df; color: white;" *ngIf="editMode === false && modpww === false" (click)="toggleEditMode()">Modifier le profil</button>
                        <button (click)="modpw()" style="background-color: #4e73df; color: white;"class="btn btn-sm mr-4" *ngIf="editMode === false && modpww === false" >Modifier mot de passe</button>

                        <form *ngIf="editMode" [formGroup]="myform" (ngSubmit)="updateUserProfile()">
                            <h6 class="heading-small text-muted mb-4" style="font-size: 1.3em;">Modifier l'information de l'utilisateur </h6>
                            <div class="pl-lg-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-username">Nom d'utilisateur :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-username" class="form-control form-control-alternative"
                                            placeholder="Username" formControlName="Username" [value]="user.username" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label">E-mail :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="email" id="input-email" class="form-control form-control-alternative"
                                            formControlName="email" [value]="user.email" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label">Nom Complet :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                                            formControlName="full_name" [value]="user.full_name" required>
                                    </div>
                                </div>
                               
                            </div>
                            
                            <hr class="my-4">
                            <!-- Photo input (displayed only in edit mode) -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formFile" style="font-size: 1.2em; font-weight: bold;">Photo de profil :</label>
                                <input type="file" id="formFile" (change)="onFileChange($event)" class="form-control">
                            </div>
                           
                            <input type="submit"  value="Modifier" style="background-color: #4e73df; color: white;" class="btn btn-sm mr-4" >
                            <input type="submit" value="Annuler" style="background-color: #4e73df; color: white;" class="btn btn-sm mr-4"  (click)="annuller()">
                        </form>
                        <form *ngIf="modpww"  [formGroup]="myform1" (ngSubmit)="modifierMp()">
                            <h6 class="heading-small text-muted mb-4" style="font-size: 1.3em;">Modifier mot de passe </h6>
                            <div class="pl-lg-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label" for="input-username">Mot de passe actuelle :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="password" id="input-username" class="form-control form-control-alternative"
                                            formControlName="op"  required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-control-label">nouveau mot de passe :</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="password" id="input-email" class="form-control form-control-alternative"
                                            formControlName="np" required>
                                    </div>
                                </div> </div>
                                <input type="submit" style="background-color: #4e73df; color: white;" href="#" value="Modifier" class="btn btn-sm mr-4" >
                                <input type="submit" value="Annuler" style="background-color: #4e73df; color: white;" class="btn btn-sm mr-4" (click)="annuller()" >
                                <label *ngIf="messagrpw=='Mot de passe mis à jour avec succès'"  class="form-control-label"   style="float: right; color: green;" for="input-username">{{messagrpw}}.</label>
                                <label *ngIf="messagrpw=='Ancien mot de passe incorrect'"  class="form-control-label"   style="float: right; color: red;" for="input-username">{{messagrpw}}.</label>
                                <label *ngIf="messagrpw=='Le mot de passe doit comporter au moins 8 caractères, contenir au moins une lettre majuscule et au moins un chiffre '"  class="form-control-label"   style="float: right; color: red;" for="input-username">{{messagrpw}}.</label>
                            </form>
                    </div>
                </div>
                     
       
        </div>
    </div>
</div>
