
    
 <div id="app-container">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i *ngIf="user.is_superuser == true" class="fas fa-user-cog"></i>
                        <i  *ngIf="(user.is_staff==true  && user.is_active==true) && !user.is_superuser" class="fas fa-chalkboard-teacher"></i>
                        <i *ngIf="(user.is_active==true  && user.is_staff==false) &&!user.is_superuser" class="fas fa-user-graduate"></i>

                    </div>
                    <div class="sidebar-brand-text mx-3">E-learning</div>
                    
                </a>
     <!-- Divider -->
     <hr class="sidebar-divider">
    <strong><div style="text-align: center;margin-top: -15px;margin-bottom: 5px;color:white;" *ngIf="user.is_superuser == true">Admin</div>
        <div style="text-align: center;margin-top: -15px;margin-bottom: 5px;color:white;" *ngIf="(user.is_staff==true  && user.is_active==true) && !user.is_superuser">Formateur</div>
        <div style="text-align: center;margin-top: -15px;margin-bottom: 5px;color:white;" *ngIf="(user.is_active==true  && user.is_staff==false) &&!user.is_superuser" >Apprenant</div>
    </strong> 
      <hr class="sidebar-divider" style="margin-bottom: -6px;">
    
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link"   routerLink="profile">
              <i class="fas fa-fw fa-user-circle"></i>
              <span>Profile</span></a>
      </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
    
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active" >
                    <a class="nav-link" >
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Tableau de bord</span></a>
                </li>
    <!-- Admin Dashboard -->
<div *ngIf="user.is_superuser == true">

    <!-- User Management -->
    <li class="nav-item">
      
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Utilisateurs</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">les Utilisateurs :</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/users', 'Formateurs' ]" >Formateurs</a>
                <a class="collapse-item" [routerLink]="['/dashboard/users', 'Apprenants' ]" >Apprenants</a>
                <a class="collapse-item" [routerLink]="['/dashboard/users',  'Administraeurs']" >Administraeurs</a>
            </div>
        </div>
    </li>

    <!-- Course Management -->
    <li class="nav-item">
        
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-book"></i>
            <span>cours</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Les cours:</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'Verifier']">Verifier</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'En Attends']">En Attends</a>
            </div>
        </div>
    </li>
<!-- Your component HTML where you have the links -->



    <!-- Platform Management -->
    <li class="nav-item">
       
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#announcements"
            aria-expanded="true" aria-controls="announcements">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>Annonces</span>
        </a>
        <div id="announcements" class="collapse" aria-labelledby="headingAnnouncements" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Annonces</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/noti']">Notifier</a>
            </div>
        </div>
    </li>

    <!-- Reports -->


    <!-- Sign Up Approval -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSignUp"
            aria-expanded="true" aria-controls="collapseSignUp">
            <i class="fas fa-fw fa-user"></i>
            <span style="font-size: 12.5px;">Approbation de l’inscription</span> <!-- Adjust font size here -->
        </a>
        <div id="collapseSignUp" class="collapse" aria-labelledby="headingSignUp" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header" style="font-size: 9px;">Approbation de l’inscription</h6>
                <a class="collapse-item" routerLink="setup">Configurer</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'notVerified']"  >Demandes d'inscription</a>
            </div>
        </div>
    </li>
    

</div>
<!-- admin end -->
<!-- Tutor Dashboard -->
<div *ngIf="(user.is_staff==true  && user.is_active==true) && !user.is_superuser">

    <!-- Course Management -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#courseManagementTutor"
            aria-expanded="true" aria-controls="courseManagementTutor">
            <i class="fas fa-fw fa-book"></i>
            <span>Gestion des cours</span>
        </a>
        <div id="courseManagementTutor" class="collapse" aria-labelledby="headingCourseManagementTutor" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Gestion des cours</h6>
                <a class="collapse-item" [routerLink]="['/dashboard', 'add-course']">Ajouter</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'tutor']">mes cours</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'accepter']">les demandes</a>
            </div>
        </div>
    </li>

    <!-- Student Progress -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#studentProgress"
            aria-expanded="true" aria-controls="studentProgress">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Progrès des étudiants</span>
        </a>
        <div id="studentProgress" class="collapse" aria-labelledby="headingStudentProgress" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 style="margin-left: -10px;"  class="collapse-header">Progrès des étudiants dans</h6>
                <a *ngFor="let course of verifiedCourses" class="collapse-item" [routerLink]="['/dashboard/progress']" [queryParams]="{ courseId:course.id }">{{course.title}}</a>
            </div>
        </div>
    </li>

    <!-- Communication -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#communicationTutor"
            aria-expanded="true" aria-controls="communicationTutor">
            <i class="fas fa-fw fa-comments"></i>
            <span>Communication</span>
        </a>
        <div id="communicationTutor" class="collapse" aria-labelledby="headingCommunicationTutor" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Communication</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/comms']">Communiquer</a>
            </div>
        </div>
    </li>

    <!-- Analytics -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#analyticsTutor"
            aria-expanded="true" aria-controls="analyticsTutor">
            <i class="fas fa-fw fa-chart-bar"></i>
            <span>Analytiques</span>
        </a>
        <div id="analyticsTutor" class="collapse" aria-labelledby="headingAnalyticsTutor" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Analytiques</h6>
                <a class="collapse-item" [routerLink]="['/tutor', 'analytics']">Voir les statistiques du cours, telles que les taux de participation et les scores d'évaluation</a>
            </div>
        </div>
    </li>

    <!-- Calendar -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#calendarTutor"
            aria-expanded="true" aria-controls="calendarTutor">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Calendrier</span>
        </a>
        <div id="calendarTutor" class="collapse" aria-labelledby="headingCalendarTutor" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Calendrier</h6>
                <a class="collapse-item" [routerLink]="['/tutor', 'calendar']">Planifier des heures de bureau ou des sessions de tutorat</a>
            </div>
        </div>
    </li>

    
    

</div>
<!-- tutor end -->

               <!-- Student Dashboard -->
<div *ngIf="(user.is_active==true  && user.is_staff==false) &&!user.is_superuser">

    <!-- Courses -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#coursesStudent"
            aria-expanded="true" aria-controls="coursesStudent">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Cours</span>
        </a>
        <div id="coursesStudent" class="collapse" aria-labelledby="headingCoursesStudent" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Cours</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'all']">Tous</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'waiting']">En attente</a>
                <a class="collapse-item" [routerLink]="['/dashboard/courses', 'inscrit']">Inscrit</a>                
            </div>
        </div>
    </li>

   
   

    <!-- Grades -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#gradesStudent"
            aria-expanded="true" aria-controls="gradesStudent">
            <i class="fas fa-fw fa-chart-bar"></i>
            <span>Notes</span>
        </a>
        <div id="gradesStudent" class="collapse" aria-labelledby="headingGradesStudent" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Notes</h6>
                <a class="collapse-item" [routerLink]="['/student', 'grades']">Afficher les notes des devoirs et des évaluations terminées</a>
            </div>
        </div>
    </li>

    

    <!-- Discussion Forums -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#forumsStudent"
            aria-expanded="true" aria-controls="forumsStudent">
            <i class="fas fa-fw fa-comments"></i>
            <span>Forums de discussion</span>
        </a>
        <div id="forumsStudent" class="collapse" aria-labelledby="headingForumsStudent" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Forums de discussion</h6>
                <a class="collapse-item" [routerLink]="['/dashboard/comms']">Communiquer</a>
            </div>
        </div>
    </li>

    <!-- Calendar -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#calendarStudent"
            aria-expanded="true" aria-controls="calendarStudent">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Calendrier</span>
        </a>
        <div id="calendarStudent" class="collapse" aria-labelledby="headingCalendarStudent" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Calendrier</h6>
                <a class="collapse-item" [routerLink]="['/student', 'calendar']">Afficher les dates importantes (devoirs, examens, etc.)</a>
            </div>
        </div>
    </li>

</div>
<!-- end student -->
               
               
          
               
    
              <!-- Divider -->
              <hr class="sidebar-divider my-0">
    
              <!-- Nav Item - Dashboard -->
              <li class="nav-item active">
                  <a  style="margin-left: -5px;" class="nav-link" (click)="logout()">
                      <i  style="margin-left: 5px;" class="fas fa-fw fa-sign-out-alt"></i>
                     Déconexion</a>
              </li>
    
              
             
                
    
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
    
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
    
      
    
            </ul>
            <!-- End of Sidebar -->
    
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
               
                <!-- Main Content -->
                <div  class="parent-container">
    
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
    
                        <!-- Topbar Search -->
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input
                                type="text"
                                class="form-control bg-light border-0 small"
                                placeholder="Cherche..."
                                aria-label="Search"
                                aria-describedby="basic-addon2"
                                [(ngModel)]="searchQuery"
                                [ngModelOptions]="{ standalone: true }"  
                                (input)="updateSearch()"
                              />
                              
                                
                              </div>
                        </form>
    
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
    
                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                placeholder="Search for..." aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
    
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="seen()" >
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">{{nb}}</span>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Notifications
                                    </h6>
                                
                                    <div class="dropdown-scroll" style="max-height: 300px; overflow-y: auto;">
                                        <div *ngFor="let noti of userNoti">
                                            <a *ngIf="(noti.is_read)===false" class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="mr-3">
                                                    <!-- Your existing code for notification icons -->
                                                    <div *ngIf="noti.type=='warning'" class="icon-circle bg-warning">
                                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='success'" class="icon-circle bg-success">
                                                        <i class="fas fa-check-circle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='information'" class="icon-circle bg-info">
                                                        <i class="fas fa-info-circle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='danger'" class="icon-circle bg-danger">
                                                        <i class="fas fa-times-circle text-white"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">{{ noti.timestamp | date: 'medium' }}</div>
                                                    <span class="font-weight-bold">{{ noti.message }}</span>
                                                </div>
                                            </a>
                                
                                            <a *ngIf="noti.is_read==true" class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="mr-3">
                                                    <!-- Your existing code for notification icons -->
                                                    <div *ngIf="noti.type=='warning'" class="icon-circle bg-warning">
                                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='success'" class="icon-circle bg-success">
                                                        <i class="fas fa-check-circle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='information'" class="icon-circle bg-info">
                                                        <i class="fas fa-info-circle text-white"></i>
                                                    </div>
                                                    <div *ngIf="noti.type=='danger'" class="icon-circle bg-danger">
                                                        <i class="fas fa-times-circle text-white"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">{{ noti.timestamp | date: 'medium' }}</div>
                                                    {{ noti.message }}
                                                </div>
                                            </a>
                                        </div>
                                <!-- ****** -->
                               
                                
                                      <!-- //////////////  -->
                                    
                                    </div>
                                </div>
                      
    
                            
    
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                    <img *ngIf="user.image!=null" class="img-profile rounded-circle"
                                    [src]="user.image">
                                    <img *ngIf="user.image==null" class="img-profile rounded-circle"
                                    src="assets/def.png">
                                        
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" routerLink="profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>              
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"  (click)="logout()">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Déconexion
                                    </a>
                                </div>
                            </li>
    
                        </ul>
    
                    </nav>
                    <div id="notification-container" class="notification-container">
                        <!-- Notifications will be appended here -->
                    </div>
        </div>
           <router-outlet ></router-outlet>   
                  
         